In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"E:\DS ML DL\Streamlit Practice\Project\Adidas US Sales Datasets.xlsx")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
4,NaN,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store

In [3]:
df = df.drop(columns = ["Unnamed: 0"])
df = df.dropna()
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
3,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
4,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
5,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
6,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
7,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store

In [4]:
df.columns = ["Retailer"	,"Retailer ID"	,"Invoice Date"	,"Region"	,"State"	,"City"	,"Product",	"Price per Unit"	,"Units Sold",	"Total Sales"	,"Operating Profit"	,"Operating Margin"	,"Sales Method"]
df = df[df["Retailer"] != "Retailer"]

In [5]:
df = df.reset_index(drop = True)

In [6]:
df["Operating Margin"] = df["Operating Margin"] * 100
df['Retailer ID'] = df['Retailer ID'].astype(int)
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'])
df['Price per Unit'] = df['Price per Unit'].astype(int)
df['Units Sold'] = df['Units Sold'].astype(int)
df['Total Sales'] = df['Total Sales'].astype(int)
df['Operating Profit'] = df['Operating Profit'].astype(int)
df['Operating Margin'] = df['Operating Margin'].astype(int)

In [7]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,30,In-store

In [8]:
df.dtypes

Retailer                    object
Retailer ID                  int64
Invoice Date        datetime64[ns]
Region                      object
State                       object
City                        object
Product                     object
Price per Unit               int64
Units Sold                   int64
Total Sales                  int64
Operating Profit             int64
Operating Margin             int64
Sales Method                object
dtype: object

In [9]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [10]:
df.sort_values("invoice_date", inplace=True)

In [11]:
df["year"] = df["invoice_date"].dt.year
df["month"] = df["invoice_date"].dt.month
df["month_name"] = df["invoice_date"].dt.month_name()

In [12]:
df = df[df["total_sales"] > 0]

In [13]:
df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method,year,month,month_name
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,50,In-store,2020,1,January
499,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875,30,Outlet,2020,1,January
8203,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407,32,Outlet,2020,1,January
3888,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633,61,Online,2020,1,January
7776,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789,52,Outlet,2020,1,January

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9644 entries, 0 to 1200
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9644 non-null   object
 1   retailer_id       9644 non-null   int64
 2   invoice_date      9644 non-null   datetime64[ns]
 3   region            9644 non-null   object
 4   state             9644 non-null   object
 5   city              9644 non-null   object
 6   product           9644 non-null   object
 7   price_per_unit    9644 non-null   int64
 8   units_sold        9644 non-null   int64
 9   total_sales       9644 non-null   int64
 10  operating_profit  9644 non-null   int64
 11  operating_margin  9644 non-null   int64
 12  sales_method      9644 non-null   object
 13  year              9644 non-null   int32
 14  month             9644 non-null   int32
 15  month_name        9644 non-null   object
dtypes: datetime64[ns](1), int32(2), int64(6), object(7)
memory usage: 1.2+ MB

In [22]:
df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,operating_margin,sales_method,year,month,month_name
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,50,In-store,2020,1,January
499,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875,30,Outlet,2020,1,January
8203,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407,32,Outlet,2020,1,January
3888,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633,61,Online,2020,1,January
7776,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789,52,Outlet,2020,1,January

In [14]:
df.shape

(9644, 16)

In [15]:
df["region"].value_counts()

region
West         2448
Northeast    2376
Midwest      1868
South        1728
Southeast    1224
Name: count, dtype: int64

In [16]:
df["retailer"].value_counts()

retailer
Foot Locker      2633
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: count, dtype: int64

In [17]:
df["product"].value_counts()

product
Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Apparel              1608
Women's Street Footwear      1608
Men's Apparel                1606
Women's Athletic Footwear    1602
Name: count, dtype: int64

In [18]:
df["sales_method"].value_counts()

sales_method
Online      4887
Outlet      3017
In-store    1740
Name: count, dtype: int64

In [19]:
df["city"].value_counts()

city
Portland          360
Charleston        288
New York          216
Philadelphia      216
New Orleans       216
Las Vegas         216
Houston           216
San Francisco     216
Atlanta           216
Los Angeles       216
Phoenix           216
Salt Lake City    216
Dallas            216
Oklahoma City     216
Providence        216
Richmond          216
Boston            216
Albuquerque       216
Orlando           216
Hartford          216
Knoxville         216
Birmingham        216
Boise             216
Manchester        216
Jackson           216
Little Rock       216
Burlington        216
Sioux Falls       144
Miami             144
Minneapolis       144
Denver            144
Newark            144
Fargo             144
Seattle           144
Billings          144
Des Moines        144
Wilmington        144
Anchorage         144
Detroit           144
Indianapolis      144
St. Louis         144
Wichita           144
Charlotte         144
Albany            144
Milwaukee         144
Baltimore         144
Honolulu          144
Louisville        144
Cheyenne          144
Columbus          144
Chicago           144
Omaha             140
Name: count, dtype: int64

In [20]:
df.to_csv("adidas_cleaned.csv", index=False)